.Wrap {
  position: relative;
  padding: 50px 0;
  margin: 0 auto;
  width: 100vw;
}

.Gallery {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  width: 100%;
  height: 667px;
  max-height: 667px;
  overflow: hidden;

  @media (max-width: 768px) {
    height: 333px;
    max-height: 667px;
  }
}

.Gallery__Stream {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

.Gallery__Item {
  position: absolute;
  width: 375px;
  height: 667px;
  border-radius: 5px;
  filter: blur(10px);
  transition: 0.5s all ease;
  @media (max-width: 768px) {
    width: 120px;
    height: 200px;

  }

  img {
    width: 100%;
    height: 100%;
  }
}

/* Itens */

.Gallery__Item {
  &:nth-child(1) {
    //fora da tela
    left: -250px;
    top: 35%;
    z-index: 1;
    transform: translateX(-50%) scale(.3);
    transition: 0.5s all ease;
  }

  &:nth-child(2) {
    //posição 1
    left: 5%;
    top: 30%;
    z-index: 2;
    transform: translateX(calc(-50%)) scale(.4);
    filter: blur(5px);
    transition: 0.5s all ease;
    @media (max-width: 768px) {
      //fora da tela
      left: -250px;
      transform: translateX(-50%) scale(.3);
    }
  }

  &:nth-child(3) {
    //posição 2
    left: 15%;
    top: 20%;
    z-index: 3;
    transform: translateX(-50%) scale(.6);
    filter: blur(3px);
    transition: 0.5s all ease;
    @media (max-width: 768px) {
      //fora da tela
      left: 0;
      transform: translateX(calc(-50%)) scale(.4);
    }
  }

  &:nth-child(4) {
    //posição 3
    left: 30%;
    top: 20%;
    z-index: 4;
    transform: translateX(-50%) scale(.8);
    filter: blur(1px);
    transition: 0.5s all ease;
    @media (max-width: 768px) {
      //fora da tela
      left: 20%;
      transform: translateX(calc(-50%)) scale(.6);
    }

  }

  &:nth-child(5) {
    //posição 4 //meio
    left: 50%;
    top: 0;
    z-index: 9;
    transform: translateX(-50%) scale(1);
    filter: blur(0);
    transition: 0.5s all ease;
  }

  &:nth-child(6) {
    //posição 5
    left: 70%;
    top: 20%;
    z-index: 4;
    transform: translateX(-50%) scale(.8);
    filter: blur(1px);
    transition: 0.5s all ease;
    @media (max-width: 768px) {
      //fora da tela
      left: 80%;
      transform: translateX(calc(-50%)) scale(.6);
    }
  }

  &:nth-child(7) {
    //posição 6
    left: 85%;
    top: 20%;
    z-index: 2;
    transform: translateX(-50%) scale(.6);
    filter: blur(3px);
    transition: 0.5s all ease;
    @media (max-width: 768px) {
      //fora da tela
      left: 100%;
      transform: translateX(calc(-50%)) scale(.4);
    }
  }

  &:nth-child(8) {
    //posição 7
    left: 95%;
    top: 30%;
    z-index: 1;
    transform: translateX(-50%) scale(.4);
    filter: blur(5px);
    transition: 0.5s all ease;
    @media (max-width: 768px) {
      //fora da tela
      right: -250px;
      transform: scale(.3);
    }
  }

  &:nth-child(n+9) {
    //fora da tela
    right: -250px;
    top: 35%;
    z-index: 1;
    transform: scale(.3);
    transition: 0.5s all ease;
  }
}

.Gallery__Prev,
.Gallery__Next {
  position: absolute;
  top: 50%;
  z-index: 4;
  width: 18px;
  height: 25px;
  transform: translateX(-50%) translateY(-50%) scale(.8);
  cursor: pointer;
}

.Gallery__Prev {
  left: 13px;
}

.Gallery__Next {
  right: 13px;
  transform: rotate(180deg);
}

.Gallery__Link {
  position: relative;
  height: 100%;
  display: block;
  color: #ffffff;

  &:visited {
    color: #ffffff;
  }
}

.Gallery__Text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  color: #ffffff;
  font-size: 32px;
  text-shadow: 1px ;
}
